<launch>



  <node name="data_pub" pkg="glove_visualizer" type="arduino_receiver.py" launch-prefix="xterm -e"/>

  <node name="glove_publisher" pkg="glove_visualizer" type="arduino_publisher.py"/>

  <node name="world_anchor" pkg="tf" type="static_transform_publisher" args="0 0 0 0 0 0 1 map glove_frame 10"/>

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find glove_visualizer)/rviz/glove_viz.rviz" required="true" />


</launch>
