<launch>



  <node name="data_pub" pkg="glove_visualizer" type="arduino_receiver.py" launch-prefix="xterm -e"/>

  <node name="glove_publisher" pkg="glove_visualizer" type="arduino_publisher.py"/>

  <node name="transform_broadcaster" pkg="glove_visualizer" type="transform_broadcaster.py" />

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find glove_visualizer)/rviz/glove_viz.rviz" required="true" />


</launch>
